@model ViewModel
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout_shop.cshtml";
}

<div class="container">
    <div class="">
        <div id="carouselExampleFade" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://res.cloudinary.com/dbkmrrnge/image/upload/v1694595944/yy2TRUCK_CAP_111_o3ujoi.jpg" class="d-block w-100" alt="..." height="500px">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dbkmrrnge/image/upload/v1694595621/tech-list_n0giq4.png" class="d-block w-100" alt="..." height="500px">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="text-center">
            <h2>Sản phẩm nổi bật</h2>
        </div>

        <div class="col d-flex gap-3 flex-wrap justify-content-center align-items-start">

            @foreach (Product p in Model.Products)
            {
                <a asp-controller="Shop" asp-action="ProductDetails" asp-route-id="@p.ProductId" class="nav-link text-reset">
                    <div class="card" style="width: 18rem;" id="product">
                        <img src="@p.Images" class="card-img-top " alt="..." height="250px" style="object-fit:cover">
                        <div class="card-body">
                            <div class="card-text d-flex flex-column justify-content-center">
                                <p class="fw-bold fs-6">@p.ProductName</p>
                                <small class="">@String.Format("{0:0.000}", @p.Price) VNĐ</small>
                            </div>
                        </div>
                    </div>
                </a>

            }
        </div>
    </div>
</div>



